@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@font-face {
    font-family: 'Euclid Circular A';
    src: url('./assests/fonts/euclid-circular-a-cufonfonts/Euclid-Circular-A-Regular.ttf');
}

* {
    background-color: #200E34;
    color: #ffffff;
}

body {
    background-color: transparent;
}

.tweet-button {
    background-color: rgba(149, 54, 236, 0.5);
    height: 43px;
    width: 162px;
    border: 1px solid #F99E0F;
    outline: none;
    font-family: 'Space Grotesk', sans-serif;
}

.tweet-button:hover {
    background-color: rgba(149, 54, 236, 0.5);
    height: 43px;
    width: 162px;
    border: 1px solid #F99E0F;
    outline: none;
    font-family: 'Space Grotesk', sans-serif;
}

.content-header {
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.formContainer {
    background-color: transparent;
}

.formDescribe {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
}

.submitBtn {
    background-color: #9536ECCC;
    outline: none;
    border: none;
    height: 45px;
    border-radius: 10px;
}