@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@font-face {
    font-family: 'Euclid Circular A';
    src: url('./assests/fonts/euclid-circular-a-cufonfonts/Euclid-Circular-A-Regular.ttf');
}

* {
    background-color: #200E34;
}

.nav-container {
    padding: 10px 0px 0px;
  }
  
.tweet-button {
    background-color: rgba(149, 54, 236, 0.5);
    height: 43px;
    width: 162px;
    border: 1px solid #F99E0F;
    outline: none;
    font-family: 'Space Grotesk', sans-serif;
}

.tweet-button:hover {
    background-color: rgba(149, 54, 236, 0.5);
    height: 43px;
    width: 162px;
    border: 1px solid #F99E0F;
    outline: none;
    font-family: 'Space Grotesk', sans-serif;
}

.content-header {
    line-height: 86px;
    font-size: 64px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Euclid Circular A', sans-serif;
}

.content-content {
    color: #ffffff;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}

.btn-getStarted {
    height: 60px;
    width: 148px;
    border-radius: 8px;
    padding: 16px, 23px, 16px, 23px;
    background-color: #9536EC;
    outline: none;
    border: none;
}

.btn-getStarted:hover {
    height: 60px;
    width: 148px;
    border-radius: 8px;
    padding: 16px, 23px, 16px, 23px;
    background-color: #9536EC;
    outline: none;
    border: none;
}

.getStartedLink {
    text-decoration: none;
}

.content-application {
    color: #ffffff;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    margin: 45px 0px 0px;
}

.zig-zag {
  border-bottom: 3px dashed #333;
  border-image: linear-gradient(to right, #333 25%, transparent 25%) 1 100%;
  border-image-slice: 1;
  color: #ffffff;
}

.applicationProcess {
    margin: 25px 10px 0px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}


.bg-1, .bg-2, .bg-3 {
    background-color: #9536EC1A;
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    height: 100%;
  }
  
  .bg-1 h2, .bg-2 h2, .bg-3 h2,
  .bg-1 h3, .bg-2 h3, .bg-3 h3 {
    background-color: transparent;
    margin-top: 0;
  }

  .bg-1 p, .bg-2 p, .bg-3 p {
    background-color: transparent;
    margin: 0;
  }

  .applicationNumber {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 64px;
    line-height: 80px;
    font-weight: 400;
  }

  .applicationProcesss {
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  } 
  
  .applicationSteps {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin: 0;
  }
  
  .social-icons .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 30px 10px;
    background-size: cover;
    bottom: 0;
    right: 0;
  }
  
  .social-icons .telegram {
    background-image: url('./assests/icons/Vector-2.png');
  }
  
  .social-icons .twitter {
    background-image: url('./assests/icons/Vector-3.png');
  }
  
  .social-icons .discord {
    background-image: url('./assests/icons/Vector-4.png');
  }
  
  .social-icons .github {
    background-image: url('./assests/icons/Vector-5.png');
  }
  
  .bg-3 img {
    position: absolute;
    bottom: 0;
    left: 0.5;
  }

  .bg-2 img {
    position: absolute;
    bottom: 0;
    left: 0.5;
  }

  .FAQ {
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 80px 0px 0px;
    color: #ffffff;
  }

  .card {
    background-color: transparent;
    margin: 20px 0px 0px;
  }

  .card-body {
    font-size: 18px; /* change font size */
    color: #fff; /* change font color */
    background-color: #9536EC1A; /* change background color */
    font-family: 'Space Grotesk', sans-serif;
  }

  .questionHeader button {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Euclid Circular A', sans-serif;
    text-decoration: none;
  }

  .questionHeader button:hover {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Euclid Circular A', sans-serif;
    text-decoration: none;
  }
  

  /* chnage header to consider mobile devices */

@media screen and (max-width: 768px) {
    .content-header {
        font-family: 'Euclid Circular A', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        padding: 0px 10px;
    }
    .content-content {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding: 0px 10px;
    }
    .FAQ {
        font-family: 'Euclid Circular A', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 48px;
        text-align: center;
    }
    .card-body {
        font-family: 'Euclid Circular A', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .questionHeader button {
        color: #ffffff;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        font-family: 'Euclid Circular A', sans-serif;
        text-decoration: none;
    }
}


  
