<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ophir Workshop</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="./success.css">
  </head>
  <body>

    <div class="clearfix">
        <div class="container">
            <div class="nav-container">
                <!-- Navigation code here -->
                <nav class="navbar">
                  <a class="navbar-brand" href="#">
                    <img src="./assests/ophir logo 1.png" width="100" height="100" alt="">
                  </a>
                  <button class="btn btn-primary tweet-button" onclick="generateTweet()">Generate Tweet</button>
                </nav>
              </div>
        </div>

        <div class="container">
            <div class="row justify-content-center mt-4">
                <p class="mt-4 successMessage">🥳 Congratulations! Your application has been received, generate tweet now.</p>
            </div>
        </div>

    
    </div>

      
      
      
      
      


    



    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="./tweet.js"></script>
  </body>
</html>